*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh; 
    background-color: #FFFFF1;
    display: flex; 
    flex-direction: column; 
}

header {
    min-height: 50px;
    background-color: #de0d0d;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px 15px;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.titulo {
    text-align: center;
    padding: 20px;
}

#topo {
    font-size: 25px;
}

main {
    flex: 1 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "item2 item2 item2 item2"; 
    padding: 20px;
    
}

.itens-principais{
    grid-area: item2; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.item-grande {
    width: 280px;
    height: 380px;
    padding: 10px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.item-grande:hover{
    border-radius: 20px;
    background-color: rgba(178, 178, 178, 0.1);
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.500);
}

.card-title {
    padding: 6px 0px;
}

.foto-item {
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.descricao {
    text-align: justify;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #de0d0d;
}

.button a {
    padding: 10px 8px;
    border-radius: .4rem;
    background-color: rgb(255, 246, 246);
    color: black;
    margin: 5px;
    transition: ease-in-out;
    transition: .4s;
}

.button a:hover {
    background-color: rgb(224, 224, 224);
}