* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-variant: bold;
}

body {
    background-color: #fff;
    color: #007bff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-size: 35px;
}

h2 {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
}

.button a {
    padding: 10px 8px;
    border-radius: .4rem;
    background-color: rgb(255, 246, 246);
    color: black;
    margin: 5px;
    transition: ease-in-out;
    transition: .4s;
}

.button a:hover {
    background-color: #A9A9A9;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #007bff;
    color: #fff;
}

.logo{
    display: flex;
    flex-direction: row;
    margin: 1%
}

.logo img {
    width: 90px;
    cursor: pointer;
}

.icon {
    display: none;
}

.logado{
    display: flex;
    flex-direction: row;
}

.usuario{
    margin-right: 20px;
}

.dadosUsuario{
    color: #fff;
}

.dadosUsuario:hover{
    background-color: #fff;
    color: #007bff;
    border-radius: 10px;
    padding: 10px;
}


.error{
    background-color: red;
}

.ok{
    background-color: green;
    border-radius: 15px;
    width: 15%;
}

.retorno{
    color: #fff;
    margin-top: 2%;
    padding: 10px 20px;
	align-items: center;
	text-align: center;
    display: flex;
    flex-direction: column;
}